<link rel="stylesheet" href="/assets/styles/landing-page.css">
<body>
    <div class="bg-landing">
       <div class="text">
        <h1>Pagina En Desarrollo</h1>
        <p>Estamos en desarrollo , pero proximante la pagina web estara completa</p>
        <a class="btn" routerLink="/home">Volver</a>
       </div>
        <div class="social-bar">
            <a href="https://www.facebook.com/Unidad-Educativa-Fiscal-Arturo-Borja-103776231679253/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/uefarturoborja/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC_bUAiJEAJC22frOgrBn1cQ/featured" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
       <div class="footer">
           <p>Desarrollada por <span><a routerLink="/creators">3ro-Informatica</a></span></p>
       </div>
    </div>
</body>

