* {
  border: 0;
  margin: 0;
  padding: 0;
}

.bg-animation {
  background-image: url("/assets/img/blue_baneer.svg");
  background-position: center;
  background-size: cover;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-animation h1 {
  position: absolute;
}

.bg-animation img {
  width: 350px;
}

.section_news {
  padding-top: 15px;
  font-weight: 900;
  font-size: 20px;
}

.section_news a {
  text-decoration: none;
}

.enlase {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria {
  display: block;
  height: 100%;
  width: 100%;
  padding: 40px 0;
}

.galeria .logo {
  text-align: center;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

.galeria .logo p {
  color: #9B9B9B;
}

.galeria form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.galeria .barra-busqueda {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #b1b1b1;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
  outline: none;
}

.galeria .categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galeria .categorias a {
  color: #9B9B9B;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

.galeria.categorias a.activo {
  color: #000;
}

/* ------------------------- */
/* Grid */
/* ------------------------- */
.grid {
  position: relative;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear 1s;
  transition: opacity 0.5s linear 1s;
}

.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.333333% - 20px);
}

.grid .item-contenido {
  position: relative;
}

.grid .item img {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
}

.grid.imagenes-cargadas {
  opacity: 1;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay img {
  max-width: 600px;
}

.overlay .descripcion {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
}

.overlay #btn-cerrar-popup {
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
}

.overlay.activo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-img {
  position: relative;
}

/* ------------------------- */
@media screen and (max-width: 700px) {
  .grid .item {
    width: calc(50% - 20px);
  }
  header .barra-busqueda {
    width: 100%;
  }
}
/*# sourceMappingURL=blog.component.css.map */