<link rel="stylesheet" href="/assets/styles/creators.css">
<body>
    <h1 class="title">Desarrolladores <br>
        de la pagina web <br> 
        Institucional <br>
         2020-2021</h1>
         <a routerLink="/home" class="btn">Volver</a>
    <div class="box">
        <div class="imgBx">
            <img src="assets/Rosurce/image/adrian.jpeg" alt="">
        </div>
        <div class="content">
            <h2>Adrian Paladines <br><span>Developer</span></h2>
            <div class="social-bar">
                <a href="https://www.facebook.com/Adrianamigoturbo" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/adrianpaladines2003/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/Adevprolatam" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/adilocoturbo_ad" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t1.0-9/131288003_206201564312451_5745530735929640559_n.jpg?_nc_cat=104&ccb=3&_nc_sid=a4a2d7&_nc_ohc=GRGNBBX_DCEAX8IBgpQ&_nc_ht=scontent.fuio5-1.fna&oh=9bffc994d22d4949f84aafcce6846587&oe=6061CB98" alt="">
        </div>
        <div class="content">
            <h2>Dilan Buitrago<br><span>Fotografo</span></h2>
            <div class="social-bar">
                <a href="https://www.facebook.com/steven.cjr.3" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/buitragodilan/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC_bUAiJEAJC22frOgrBn1cQ/featured" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t1.0-9/131151140_222487679313239_5576563649244206274_n.jpg?_nc_cat=100&ccb=3&_nc_sid=09cbfe&_nc_ohc=ZkZLhtNe614AX9uLHtU&_nc_ht=scontent.fuio5-1.fna&oh=54047da168d6bae374eda19913a94572&oe=605EE58E" alt="">
        </div>
        <div class="content">
            <h2>Belen Quitio<br><span>Diseñadora Web</span></h2>
            <div class="social-bar">
                <a href="https://www.facebook.com/belen.quitio" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC_bUAiJEAJC22frOgrBn1cQ/featured" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="assets/Rosurce/image/yajaira.jpg" alt="">
        </div>
        <div class="content">
            <h2>Yajaira Manazano<br><span>Diseñadora Web</span></h2>
            <div class="social-bar">
                <a href="https://www.facebook.com/jayaira.manzano.1/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC_bUAiJEAJC22frOgrBn1cQ/featured" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t1.0-9/116495483_2683302788583763_4029475769428198019_o.jpg?_nc_cat=100&ccb=3&_nc_sid=174925&_nc_ohc=gHBPcNXdZ_sAX-gs7-o&_nc_ht=scontent.fuio5-1.fna&oh=02e181441612d14d4d3c472c69dc0932&oe=605F3E6B" alt="">
        </div>
        <div class="content">
            <h2>Briggite Perez<br><span>Diseñadora Web</span></h2>
            <div class="social-bar">
                <a href="https://www.facebook.com/toniomanuel.perezguajala/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC_bUAiJEAJC22frOgrBn1cQ/featured" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</body>
        