<!--Contactanos-->
<section class="contact" id="contact">
    <div class="heading white">
        <h2>Contactanos</h2>
        <p></p>
    </div>
    <div class="content">
        <div class="contactInfo">
            <h3>Contact Info</h3>
            <div class="contactInfoBx">
                <div class="box ">
                    <div class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Dirección</h3>
                        <p>Alonso Pablos <br>Quito 170140</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Telefono</h3>
                        <p>0958780392</p>
                    </div>
                </div>
                <div class="box ">
                    <div class="icon">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>adevprolatam@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="formBx">
            <form action="/Backend/correo.php" method="POST">
                <h3>Mensaje</h3>
                <input type="text" name="nombre" placeholder="Nombre" autocomplete="name" required>
                <input type="email" name="correo" placeholder="Email" autocomplete="email" required>
                <textarea placeholder="Dejanos tu mensaje" name="mensaje" required></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</section>

<!--Derechos reservados-->
<div class="footer-buttom">
    <h4>Copyright &copy; 2020 <a href="https://adevprolatam.vercel.app/" target="_blank"><span>DragonLatam</span></a> . All Rights Reserved | <a routerLink="/creators"><span>3ro Informatica</span></a></h4>
    <div >
        <ul>
            <li><a href="https://www.facebook.com/Adrianamigoturbo " target="_blank "><i class="fa fa-facebook-official " aria-hidden="true "></i></a></li>
            <li><a href="https://wa.me/qr/VSBABDTPWVYYE1 " target="_blank "><i class="fa fa-whatsapp " aria-hidden="true "></i></a></li>
            <li><a href="https://youtu.be/5NPBIwQyPWE " target="_blank "><i class="fa fa-youtube-play " aria-hidden="true "></i></a></li>
        </ul>
    </div>
</div>