<link rel="stylesheet" href="/assets/styles/styles.css">
<header>
    <a href="#" class="logo" data-text="Arturo Borja">Arturo Borja</a>
    <div class="toggle" onclick="toggleMenu();"></div>
    <ul class="menu">
        <li><a routerLink="/home" onclick="toggleMenu();">Inicio</a></li>
        <li><a routerLink="/info" onclick="toggleMenu();">Sobre Nosotros</a></li>
        <li><a routerLink="/servicios" onclick="toggleMenu();">Servicios</a></li>
        <li><a routerLink="/work" onclick="toggleMenu();">Blog</a></li>
        <li><a routerLink="/contactanos" onclick="toggleMenu();">Contactanos</a></li>
        <li> <a routerLink="/login" class="Btn_home">Inicia sesión</a></li>
        <a routerLink="/login"><i class="fas fa-user-alt"></i></a>
    </ul>
    <div class="social-bar">
        <a href="https://www.facebook.com/Unidad-Educativa-Fiscal-Arturo-Borja-103776231679253/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/uefarturoborja/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC_bUAiJEAJC22frOgrBn1cQ/featured" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</header>
