<app-navbar></app-navbar>
<!--Service-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/styles/articulos.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<div class="container-all" id="move-content">

    
    <div class="article-container-cover">
        <div class="container-info-cover">
            <h1>Sobre Nosotros</h1>
            <p>Unidad Educativa Fiscal "Arturo Borja"</p>
        </div>
    </div>

    <div class="container-content">
        <article>

            <div class="section1">
                <h2>Quienes Somos</h2>
                <img src="/" alt="">
                <p>El Colegio Fiscal Técnico "ARTURO BORJA" es una institución de carácter gubernamental que busca solventar las necesidades educativas de la juventud del sur-occidente de la ciudad de Quito en la Provincia de Pichincha.

 

                    Por su ubicación estratégica se ha convertido en el referente educativo más importante de esta zona, manejando un perfil de bachillerto que además de preparar mano de obra calificada, permite al bachiller continuar sus estudios superiores.
                    
                     
                    
                    Nuestra Institución propende a un sistema educativo que valora los logros obtenidos, fortalezca el autoestima de sus estudiantes y la equidad de género para la construcción de una sociedad más solidaria, justa e incluyente que favorezca el desarrollo de sus potencialidades.
                    
                     
                    
                    Promueve la actitud positiva y de compromiso  en el desarrollo de las capacidades del personal docente, administrativo, estudiantes y padres de familia propiciendo espacios de reflexión, análisis y trabajo en equipo con el fin de fortalecer y conservar la unidad de grupo respetando la diversidad, el criterio y opinión ajena, orientando el proceso educativo hacia la formación de personas para la vida, libres y conscientes de sus responsabilidades mediante la práctica de valores.</p>
                    <img src="/assets/Rosurce/image/10.jpeg" class="img-fluid">
           
           <hr>
                </div>

            
            <div id="section2">
               <div class="container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <h3>Mision</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            Brindar atención de calidad y calidez, garantiza la educación inicial ii, educación general básica y bachillerato general unificado en ciencias y técnico con las figuras profesionales de contabilidad y administración, electrónica de consumo y aplicaciones informáticas
                            a los y las adolescentes del sector sur occidental y otros sectores de la ciudad de quito mediante la formación integral, holística e inclusiva, acorde a los avances tecnológicos científicos y humanos que les
                            permita ser parte del desarrollo social, económico cultural e incluirse exitosamente en los ámbitos educativos y labores dentro y fuera del país.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <h3>Vision</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                         
                            Llegar a ser una institución educativa que forme seres humanos inspirados en el buen vivir, satisfaciendo las necesidades de aprendizaje de los adolescentes formando bachilleres , capacitados, competentes capaces de tomar sus propias decisiones afrontando la problemática social y  aportando a la construcción de un pais con equidad, paz y desarrollo con una visión holística del mundo
                        </div>
                    </div>
                </div>
               </div>

            </div>
            <div class="section3">
                <h2>Historia</h2>
                <p>El Colegio Nacional Técnico “Arturo Borja”, fue creado mediante Acuerdo Ministerial No. 16150 de 20 de octubre de 1980, y se inicia en la Escuela “Abdón Calderón”, en la jornada vespertina.


                    Actualmente cuenta con local propio cuyo terreno, fue donado por el I. Municipio de Quito en la alcaldía del  Dr. Álvaro Pérez   mediante escritura pública dada en la notaria 19 del Cantón Quito a favor de Estado Ecuatoriano cuya cuantía era de  s/. 6 155 493,70 sucres, el día jueves 25 de febrero de 1982.
                    Mediante la gestión del  Lic. René Rodríguez, Rector en ese entonces, se  logra una asignación importante por parte del legislador y Presidente de la Comisión de Asuntos Presupuestarios del Congreso Nacional,  Diputado Galo Vayas Salazar para la construcción del edificio y parte considerable del equipamiento.
                    
                    Luego el I. Municipio  de Quito, en la Alcaldía del señor profesor Gustavo Herdoiza León asigna la construcción de un pabellón de aulas en hormigón armado.
                    La DINSE  (DIRECCIÓN NACIONAL DE SERVICIOS ESCOLARES) apoya con la construcción de un bloque destinado para aulas y oficinas en el año de 2000.
                    La reconstrucción del cerramiento la realiza la Administración Municipal Quitumbe en el año 2011.
                    
                    El Municipio del Distrito Metropolitano de Quito a través del proyecto Quito Educanet y el Gobierno de la Provincia de Pichincha por medio del programa Edufuturo, apoyan con equipamiento tecnológico, beneficiando a toda la Comunidad Educativa.
                    
                    A partir del año 2014, nuestro colegio se convierte en UNIDAD EDUCATIVA, favoreciendo a niños y adolescentes desde los 3 y 4 años de edad.
                    <img src="/assets/Rosurce/image/after.jpg" class="img-fluid">
                    </p>

            </div>
            <div class="section3">
                <h2>Autoridades</h2>
                <p>El Colegio Nacional Técnico “Arturo Borja”, fue creado mediante Acuerdo Ministerial No. 16150 de 20 de octubre de 1980, y se inicia en la Escuela “Abdón Calderón”, en la jornada vespertina.


                    Actualmente cuenta con local propio cuyo terreno, fue donado por el I. Municipio de Quito en la alcaldía del  Dr. Álvaro Pérez   mediante escritura pública dada en la notaria 19 del Cantón Quito a favor de Estado Ecuatoriano cuya cuantía era de  s/. 6 155 493,70 sucres, el día jueves 25 de febrero de 1982.
                    Mediante la gestión del  Lic. René Rodríguez, Rector en ese entonces, se  logra una asignación importante por parte del legislador y Presidente de la Comisión de Asuntos Presupuestarios del Congreso Nacional,  Diputado Galo Vayas Salazar para la construcción del edificio y parte considerable del equipamiento.
                    
                    Luego el I. Municipio  de Quito, en la Alcaldía del señor profesor Gustavo Herdoiza León asigna la construcción de un pabellón de aulas en hormigón armado.
                    La DINSE  (DIRECCIÓN NACIONAL DE SERVICIOS ESCOLARES) apoya con la construcción de un bloque destinado para aulas y oficinas en el año de 2000.
                    La reconstrucción del cerramiento la realiza la Administración Municipal Quitumbe en el año 2011.
                    
                    El Municipio del Distrito Metropolitano de Quito a través del proyecto Quito Educanet y el Gobierno de la Provincia de Pichincha por medio del programa Edufuturo, apoyan con equipamiento tecnológico, beneficiando a toda la Comunidad Educativa.
                    
                    A partir del año 2014, nuestro colegio se convierte en UNIDAD EDUCATIVA, favoreciendo a niños y adolescentes desde los 3 y 4 años de edad.
                    <img src="/assets/img/profesores.jpeg" class="img-fluid">
                    </p>

            </div>
        </article>

        <div class="container-aside">	

            <aside>
                <img src="/assets/img/abanderados.jpeg" alt="">
                <h2 class="text-center">JURAMENTO 2020</h2>
                <p class="">Programa de proclamacion de abanderados ,portaestandartes y escoltas periodo lectivo 2020-2021 </p>
                <a routerLink="/work"><button>leer más</button></a>
            </aside>

            <aside>
                <img src="/assets/img/textos.jpeg" alt="">
                <h2>Entrega de textos</h2>
                <p>La distribución se realiza desde marzo por parte de las coordinaciones zonales, que son las responsables de repartir a los establecimientos educativos y ellos a los padres de familia los paquetes (kits) de textos, antes del inicio de clases prevista para el 5 de mayo.</p>
                <a routerLink="/work"><button>leer más</button></a>
            </aside>

            <aside>
                <img src="/assets/Rosurce/image/camping.png" alt="">
                <h2>Tramites</h2>
                <p>Podra hacer tramites apartir de la pagina web</p>
                <a routerLink="/work"><button>leer más</button></a>
            </aside>

        </div>
    </div>
    <app-footer></app-footer>
</div>